.cart-holder {
  border: 2px solid #56ccf2;
  border-radius: 7px;
  padding: 2px 10px;
  position: absolute;
  right: 5%;
}

.cart-number {
  position: absolute;
  color: #56ccf2;
  font-size: 20px;
  top: -10px;
  right: -15px;
}


