ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  
}

li {
  list-style: none;
  margin: 30px;
}

li > h2 {
  text-align: center;
}

h1 {
  text-align: center;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

button {
  padding: 0.5rem 1.5rem;
  background-color:#56CCF2;
  font-size: 1.1rem;
  border-radius: 25px;
  border: none;

}