.header {
  display: flex;
  padding: 10px;
  font-size: 18px;
  font-weight: 200;
  justify-content: center;
  list-style-type: none;
  border-bottom: 0.1rem solid white;
  position: fixed;
  background: black;
  width: 100%;
  z-index: 1;
  
}

li {
  margin: 0px 40px;
}
a:link {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: brown;
  text-decoration: underline;
}

