.header {
  display: flex;
  padding: 10px;
  font-size: 18px;
  font-weight: 200;
  justify-content: center;
  list-style-type: none;
  border-bottom: 0.1rem solid white;
  position: fixed;
  top: -1.18rem;
  background: black;
  width: 100%;
  z-index: 1;
  
}

li {
  margin: 0px 40px;
}
a {
  text-decoration: none;
  color: white;
}

header {
  text-align: center;
  margin: 0;
  padding: 0px;
  padding-bottom: 30px;
  background: #777;
  color: white;
}
