.contact {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 5rem 1rem;
  margin-top: rem;
  box-shadow: 5px 8px 20px rgba(0, 0, 0, 0.5);
  margin: 2rem auto;
  max-width: 28rem;
  margin-top: 6rem;
}

.contact div {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  
}

.contact div label {
  font-size: 1.1rem;
  font-weight: 500;
}

.contact div input {
  border: 1px solid rgb(206, 189, 189);
  border-radius: 6px;
  padding: 0.2rem 0.4rem;
  font-size: 15px;
  width: 15rem;
  font-weight: 500;
}

.contact div input:focus {
  outline: none;
}